@font-face {
	font-family: inkpen;
	src: url(./lib/Inkpen2ChordsStd.otf);
}

html {
	font-family: inkpen;
	font-size: 30px;
}

input {
	font-family: inkpen;
	font-size: 28px;
	border-style: none;
	width: 60px;
	text-align: center;
}

a, a:visited {
	color: black;
	text-decoration: none;
}

a:hover {
	color: #A30000;
	text-decoration: none;
}

#header {
	margin: auto;
	text-align: center;
	padding-bottom: 50px;
}

#nm {
	margin-top: -60px;
	font-size: 80%;
}

#ej {
	padding-left: 10px;
}

#content {
	min-width: 10px;
	max-width: 725px;
	min-height: 100px;
	margin: auto;
	padding-bottom: 50px;
	/*margin-top: -40px;*/
}

#meta {
	text-align: center;
}

#instructions {
	font-size: 90%;
	text-align: center;
	padding-bottom: 20px;
}

#sheet {
	margin: auto;
	border-style: dotted;
	border-width: 2px;
}

#playButton {
	width: 100px;
	height: 30px;
	text-align: center;
	margin: auto;
	border-style: solid;
	border-width: 2px;
	padding-bottom: 12.5px;
	margin-top: 10px;
}

#randomizeButton {
	height: 15px;
	width: 125px;
	border-style: solid;
	border-width: 2px;
}

.button:hover, .button:active {
	color: #A30000;
}

.num, .den {
	width: 42px;
}

.row {
	width: 775px;
	height: 100px;
	float:none;
	padding-bottom: 28px;
}	

/*try using margins (centering) instead of hacky padding*/
.bar {
	margin: auto;
	padding-left: 14px;
	padding-right: 14px;
	/*margin-top: 20px;*/
	border-left: 2px;
	border-right: 2px;
	border-top: 0px;
	border-bottom: 0px;
	border-style: solid;
	border-color: black;
	width: 150px;
	float:left;
	margin-right: -2px;
	/*vertical-align: text-top;*/
}

#chords {
	padding-top: 15px;
}

#metro {
	max-width: 725px;
	height: 15px;
	background-color: #8EE000;
	margin-top: 10px;
	margin-bottom: 10px;
	opacity: 0;
}

#metro:active {

}

#applyNow {
	text-align: center;
	padding-bottom: 30px;
	float:left;
}